.input-container {
    width: 50%;
    position: relative;
    direction: rtl;
}

.input-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-top: 5px solid var(--main-color);
    border-left: 5px solid var(--main-color);
    z-index: 5;
}

.input-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid var(--main-color);
    border-left: 5px solid var(--main-color);
    z-index: 5;
}

.input {
    direction: rtl;
    resize: none;
    width: 100%;
    height: calc(100% - 40px);
    padding: 0px 20px;
    margin: 20px 0px;
    background-color: transparent;
    font-size: 16px;
    line-height: 1.5;
}
