.code * {
    margin: 0 !important;
}

.code {
    position: relative;
    display: flex;
    flex-direction: column;
}

.code pre {
    background-color: var(--code-color) !important;
    border: none !important;
    box-shadow: none !important;
    padding: 10px !important;
    padding-top: 35px !important;
    border-radius: 0 !important;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    overflow-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
    overflow: auto;
}

.code pre code {
    padding: 0;
    font-size: 100%;
    border-radius: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
    background-color: var(--code-color);
    text-shadow: none !important;
}

.icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    font-size: 23px;
    z-index: 5;
}

.icon * {
    color: var(--code-icon-color);
}

.icon .copy-icon { 
    cursor: pointer;
}