.header {
    position: sticky;
    top: 0px;
    height: 65px;
    padding: 10px 40px;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.marker {
    font-size: 20px;
    font-family: 'Rubik Wet Paint', system-ui;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 2px;
}

.org {
    margin-top: -5px;
    font-size: 14px;
    letter-spacing: 4px;
    color: var(--main-color);
    font-family: 'Patrick Hand', cursive;
    font-weight: bold;
}

.header-icon { 
    font-size: 25px;
    margin-left: 20px;
    cursor: pointer;
}

.header-icon path {
    color: var(--header-icon-color);
}

.mode-icon { 
    font-size: 22px;
}