@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Rubik+Wet+Paint&display=swap');

:root {
  --background-color: #fff;
  --main-color: #2790e9;
  --selected-background-color: #BBDFFF;
  --main-font-color: #000;
  --secondary-font-color: #656D76;
  --code-color: #F6F8FA;
  --blockqoute-color: #D0D7DE;
  --heighlight-color: #EFF1F3;
  --table-color: #F6F8FA;
  --table-border-color: #D0D7DE;
  --hr-color: #D8DEE4;
  --link-color: #2069DA;
  --header-icon-color: #000;
  --code-icon-color: #656D76;
  --shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);;
} 

[theme='dark'] {
  --background-color: #0F1A2C;
  --main-color: #38BDF8;
  --selected-background-color: #21434E;
  --main-font-color: #fff;
  --secondary-font-color: #94A3B8;
  --code-color: #1E293B;
  --blockqoute-color: #475569;
  --heighlight-color: #475569;
  --table-color: #1E293B;
  --table-border-color: #3A485D;
  --hr-color: #293548;
  --link-color: #2F81F6;
  --header-icon-color: #fff;
  --code-icon-color: #94A3B8;
  --shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  color: var(--main-font-color);
  transition: 0.3s ease;
}

::selection {
  background-color: var(--selected-background-color);
}

.App {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.separator {
  border-right: 2px solid var(--main-color);
}

.container {
  height: calc(100% - 65px);
  display: flex;
  padding: 40px;
}


::-webkit-scrollbar {
  width: 5px ; 
  max-height: 5px;
}

textarea::-webkit-scrollbar {
  width: 5px ; 
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color); 
}

::-webkit-scrollbar-track {
  background-color: transparent; 
}